# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

DATABASE_URL="postgresql://boundless:<USE-PASSWORD-VALUE>@localhost:5432/boundess_db?schema=public"
POSTGRES_DB=boundess_db
POSTGRES_USER=boundless
POSTGRES_PASSWORD=
